@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cloudy {
    background-image: url("../assets/images/bg-cloudy.png");
    background-size: cover;
}

.btn-white {
    height: 55px;
    border-width: 4px;
    @apply rounded-full bg-white text-black border-dark-blue font-semibold flex justify-center items-center gap-2;
}