.fullWidthHeightFlex {
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: row-reverse; 
  justify-content: space-between; 
  align-items: center; 
  font-weight: bold;
  font-size: large; 
}

.flexGapPx {
  display: flex; 
  gap: 0.25rem; 
  padding-left: 1.25rem; 
  padding-right: 1.25rem;
}


.relativeWrapper {
    position: relative; 
}
  
.navDropdown {
  position: absolute;
  top: 100%; 
  left: 0; 
  background-color: #333333; 
  color: #FFFFFF; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  overflow: auto;
  max-height: 75vh; 
  width: 100%; 
  min-width: 200px; 
}
  
/* Responsive adjustments for smaller devices */
@media (max-width: 600px) {
  .navDropdown {
    max-height: 75vh; 
    width: 100%; 
  }

}

/* Responsive adjustments for larger devices */
@media (min-width: 601px) {
  .navDropdown {
    width: auto; 
    max-width: 400px; 
  }
}
  
  
.navDropdownItem {
  padding: 10px 15px;
  border-bottom: 1px solid #474747; 
  display: flex;
  align-items: center;
  gap: 10px;
}
.navDropdownItem .icon {
  display: inline-block; 
  vertical-align: middle;
}

.navDropdownItem:last-child {
  border-bottom: none;
}

.navDropdownItem:hover {
  background-color: #7e7e7e; 
}
  
.navDropdownItem a {
  color: inherit; /* Ensure anchor tag inherits the color from parent */
  text-decoration: none; 
  display: block;
  width: 100%;
}

.buttonSandwich{
  top: 0;
  left: 0;
  padding: clamp(5px, 2vw, 20px); /* Responsive padding with min and max values */
  display: inline-block;
  transition: background-color 0.3s, padding 0.3s, box-shadow 0.3s; 
  cursor: pointer;
  background-color: transparent;
}

.buttonSandwich:hover {
  background-color: #083D77; 
  transition: background-color 0.3s ease; 
}


.buttonSandwich.active, .buttonSandwich:active {
  background-color: white;
}
  