html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.body-background {
  background-image: url("../assets/images/bg-cloudy.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link{
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.col-md-12 h3 {
  font-size: 1.2em; /* Adjust size as necessary */
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.custom-list {
  list-style: disc;
}

.custom-list li:before {
  content: "\2022"; /* Unicode character for a bullet point */
  color: #007bff; /* You can adjust the color as needed */
  display: inline-block;
  width: 1em;
  margin-left: -1em; /* Ensures the bullet point is aligned properly */
}

.bold{
  font-weight: bold;
}

.privacy-container {
  max-width: 85%; 
  max-height: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scrollable content */
  max-height: 70vh;
}

/* Responsive adjustments */
@media (min-height: 300px) {
  .privacy-container {
    max-height: 50vh;
  }
}

/* Responsive adjustments */
@media (min-height: 600px) {
  .privacy-container {
    max-height: 60vh;
  }
}

/* Responsive adjustments */
@media (min-height: 750px) {
  .privacy-container {
    max-height: 65vh; 
  }
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .privacy-container {
    max-width: 750px; 
  }
}

@media (min-width: 1024px) {
  .privacy-container {
    max-width: 970px; 
  }
}

@media (min-width: 1200px) {
  .privacy-container {
    max-width: 1170px; 
  }
}

.privacy-content {
  width: 100%;
}

.privacy-header {
  display: flex; /* Establishes a flex container */
  justify-content: space-between; /* Positions h1 on the left, image container on the right */
  align-items: center; /* Align items vertically */
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Ensure that the h1 element is not too big on smaller screens */
.privacy-header h1 {
  font-size: 26px; /* Starting font-size, can be adjusted as needed */
  padding: 10px;
  font-weight: bold;
}

.imagecontainer {
  width: 30%; /* Start with a percentage of the parent element's width */
  max-width: 60px; 
  height: auto; /* This will maintain the aspect ratio of the image */
  display: flex; /* Use flexbox to center the image in the container if needed */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 10px;
}

/* Styles for the image within the container */
.image {
  height: 100%;
  width: 100%; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .privacy-header {
    padding: 10px; /* Reduces padding on smaller screens */
  }

  .privacy-header h1 {
    font-size: 20; /* Reduces the font-size for smaller screens */
  }

  .imagecontainer {
    max-width: 50px;
  }
}
/* Responsive adjustments */
@media (max-width: 600px) {
  .privacy-header h1 {
    font-size: 18px; /* Reduces the font-size for smaller screens */
  }

  .imagecontainer {
    max-width: 40px;
  }
}


.privacy-content {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #083D77; 
  width: 100%; 
  box-sizing: border-box;
  overflow-y: auto; 
  max-height: 100%;
}

.back-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky; 
  bottom: 0;
  background: inherit; 
  padding: 1rem 0; 
}

.back-button {
  background-color: #ffffff; /* Light background for contrast */
  color: #083D77; /* Dark text for readability */
  border: 2px solid #083D77; /* Solid border to stand out */
  padding: 0.5rem 1rem; /* Adequate padding */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Cursor indicates it's clickable */
  text-decoration: none; /* No underlines */
  font-size: 1rem; /* Legible font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Centered text */
  display: inline-block; /* Allows width to be set properly */
  width: auto; /* Auto width based on content, with min-width for consistency */
  min-width: 150px; /* Minimum width to avoid too narrow buttons */
  margin: 30px auto 20px; /* Center button with top and bottom margins */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.back-button:hover {
  background-color: #65899a; /* Darker background on hover */
  color: #ffffff; /* Light text on hover for contrast */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .back-button {
    min-width: 120px; /* Smaller min-width */
    margin: 20px auto 15px; /* Reduced margin */
    padding: 0.4rem 0.8rem; /* Slightly smaller padding */
  }
}